__pycache__
.mypy_cache
.pytest_cache

.venv
.direnv
.envrc
.python-version

*.egg-info/
*.egg
dist/
build/

.vscode
.idea

node_modules
*.log
*.pid
*.seed
.DS_Store
.docusaurus
tsconfig.tsbuildinfo
.turbo

docs/reference/apify_client
docs/reference/sidebar.json
docs/changelog.md

website/docspec-dump.json
