name: Async docstrings check

on:
  workflow_call:

env:
  PYTHON_VERSION: 3.12

jobs:
  async_docstring_check:
    name: Async docstrings check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          pipx install --python ${{ env.PYTHON_VERSION }} poetry
          make install-dev

      - name: Execute async docstrings check
        run: make check-async-docstrings
