name: Check documentation status

on: push

jobs:
  check_docs:
    name: Check whether documentation is up-to-date
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[dev]

    - name: Check docs building
      run: ./docs/res/check.sh
